<!-- Header -->
<ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="social-link nav-link p-3" href="https://www.behance.net/gerraour" target="_blank">
        <i class="fa-brands fa-behance"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="social-link nav-link p-3" href="https://www.linkedin.com/in/gerraour/" target="_blank">
        <i class="fa-brands fa-linkedin-in"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="social-link nav-link p-3" href="https://github.com/gerraour" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="social-link nav-link p-3" href="https://www.instagram.com/gerraour/" target="_blank">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </li>
  </ul>
  <!-- Logo -->
  <div class="logo-space">
    <a href="https://www.gerraour.com">
      <img src="assets/images/logo.png" class="logo" alt="Website Logo">
    </a>
  </div>
  <div class="navigation">
    <nav class="navbar navbar-expand p-0">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link fw-medium navbar-link" href="#about_section">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-medium navbar-link" href="#work_section">Work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-medium navbar-link" href="#contact_section">Contact</a>
        </li>
      </ul>
    </nav>
  </div>