@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fade-in-nav {
    animation: fadeIn 0.5s;
}

.gerraour-nav.right {
    transition: 0.5s ease;
}

.navigation.shadow-nav {
    box-shadow: 0 .5rem 1rem rgba(var(--bs-body-color-rgb),.15);
    animation: fadeIn 0.5s;
}

/* Dark Mode */

.navigation.shadow-nav-dark {
    box-shadow: 0 .5rem 1rem rgba(26, 26, 33);
    animation: fadeIn 0.5s;
}

/* Dark Mode End */