@media (max-width: 1199.98px) {
    .image-owl-align {
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    .image-tiger-align {
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    .image-title-mobile {
        text-align: center;
    }
    .image-pad-margin {
        margin-top: 50px;
    }
    .work-card-container {
        height: 350px;
    }
    .notable-header-container {
        padding-right: 12px;
    }
    .notable-image-container {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 48px !important;
        padding-right: 48px !important;
    }
    .notable-work-container {
        margin-bottom: 100px;
    }
    .notable-image {
        height: 300px;
        object-position: 0px -160px;
    }
    .notable-work-container-mobile {
        max-width: 100%;
    }
    .notable-header-container-mobile {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
    .work-card-padding-mobile {
        padding: 32px !important;
    }
    .footer-stag-image {
        margin-left: 0px;
        margin-top: 0px;
    }
    .image-title-footer-mobile {
        text-align: left !important;
    }
}

@media (max-width: 991.98px) {
    .notable-header-container-mobile {
        max-width: 720px;
    }
    .notable-image-container {
        max-width: 720px;
    }
    .work-card-padding-mobile p {
        display: none;
    }
    .notable-image {
        height: 400px;
        object-position: 0px -110px;
    }
    .footer-stag-image-box {
        margin-bottom: 3rem;
    }
    .copyrights-misc {
        text-align: center;
        justify-content: center !important;
    }
    .privacy-terms {
        margin-right: 16px;
    }
    .image-title-footer-mobile {
        text-align: center !important;
    }
}

@media (max-width: 767.98px) {
    .quote-mobile {
        padding-top: 50px;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 3rem;
    }
    .image-padding-mobile {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .about-image-responsive {
        max-width: 100%;
        height: auto;
    }
    .image-pad-margin {
        margin-top: 0px;
    }
    .work-padding-mobile {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .work-card-container {
        height: 250px;
    }
    .notable-header-container-mobile {
        max-width: 540px;
        padding-left: 60px;
        padding-right: 60px;
    }
    .notable-image-container {
        max-width: 540px;
    }
    .work-card-padding-mobile h5 {
        display: none;
    }
    .notable-image {
        height: 500px;
        object-position: 0px 0px;
    }
    .navbar-logo-container.show {
        display: none;
    }
    .gerraour-nav.right {
        margin-right: auto !important;
        padding-right: 0px;
    }
}

@media (max-width: 575.98px) {
    .work-card-container {
        height: 200px;
    }
    .footer-mobile p {
        text-align: center !important;
    }
    .contact-footer {
        display: flex !important;
        justify-content: center;
        margin-right: 0px !important;
        margin-bottom: 16px;
    }
    .footer-mobile a {
        text-align: center;
    }
    .footer-mobile h4 {
        text-align: center;
    }
    .social-media-footer h4 {
        display: flex;
        margin-bottom: 0px !important;
    }
    .social-media-footer i {
        margin-right: 16px !important;
        margin-left: 16px !important;
    }
    .social-media-footer-margin {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 32px;
    }
    .social-media-footer-margin a {
        margin-bottom: 16px;
    }
    .extra-margin-mobile {
        margin-top: 16px;
    }
    .notable-header-container-mobile {
        padding-left: 60px;
        padding-right: 60px;
    }
    .work-card-padding-mobile h2 {
        font-size: 16px;
    }
    .work-card-padding-mobile h1 {
        font-size: 32px;
    }
    .link-footer-justify {
        justify-content: center;
    }
    .copyrights-misc {
        margin-top: 0px;
    }
    .copyrights-misc-mobile {
        margin-bottom: 16px;
    }
    .social-media {
        margin-left: 1rem !important;
    }
}

@media (max-width: 415.98px) {
    .notable-image {
        height: 450px;
    }
}

@media (max-width: 389.98px) {
    .notable-image {
        height: 400px;
    }
}

@media (max-width: 359.98px) {
    .work-card-container {
        height: 150px;
    }
    .work-card-padding-mobile {
        padding: 16px !important;
    }
    .work-card-padding-mobile h1 {
        font-size: 28px;
    }
}