@media (max-width: 1199.98px) {
    .image-owl-align {
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    .image-tiger-align {
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    .image-pad-margin {
        margin-top: 50px;
    }
    .work-card-container {
        height: 350px;
    }
    .notable-work-container {
        margin-bottom: 50px;
    }
    .work-card-padding-mobile {
        padding: 36px !important;
    }
    .footer-stag-image {
        margin-left: 0px;
        margin-top: 0px;
    }
    .image-title-footer-mobile {
        text-align: left !important;
    }
    .notable-image-container {
        padding-left: 48px !important;
        padding-right: 48px !important;
    }
    .notable-image {
        object-position: 0px -150px;
    }
    .footer {
        margin-top: 0px;
    }
    .image-link-container {
        text-align: center;
    }
    .notable-header-container {
        padding-right: 12px;
    }
}

@media (max-width: 991.98px) {
    .work-card-padding-mobile p {
        display: none;
    }
    .footer-stag-image-box {
        margin-bottom: 3rem;
    }
    .copyrights-misc {
        text-align: center;
        justify-content: center !important;
    }
    .privacy-terms {
        margin-right: 16px;
    }
    .image-title-footer-mobile {
        text-align: center !important;
    }
    .copyrights-misc-mobile {
        margin-top: 32px;
        margin-bottom: 16px;
    }
    .notable-image {
        object-position: 0px -100px;
    }
}

@media (max-width: 767.98px) {
    .quote-mobile {
        padding-top: 50px;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 3rem;
    }
    .image-padding-mobile {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .about-image-responsive {
        max-width: 100%;
        height: auto;
    }
    .image-pad-margin {
        margin-top: 0px;
    }
    .work-padding-mobile {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .work-card-container {
        height: 250px;
    }
    .work-card-padding-mobile h5 {
        display: none;
    }
    .navbar-logo-container.show {
        display: none;
    }
    .gerraour-nav.right {
        margin-right: auto !important;
        padding-right: 0px;
    }
    .privacy-terms-page .col-md-3 {
        display: none;
    }
    .privacy-terms-page .col-md-9 {
        padding-left: 60px !important;
        padding-right: 60px !important;
    }
    .image-owl-align {
        margin-top: 0px;
    }
    .notable-padding .col-md-12 {
        padding-left: 60px;
        padding-right: 60px;
    }
    .notable-padding .col-xl-3 {
        padding-left: 60px;
        padding-right: 60px;
    }
    .notable-header-container {
        padding-left: 60px;
        padding-right: 60px;
    }
    .notable-image {
        object-position: 0px -50px;
    }
    .work-card-padding-mobile {
        padding: 24px !important;
    }
    #quotes-section .lead {
        font-size: 16px !important;
    }
}

@media (max-width: 575.98px) {
    .work-card-container {
        height: 200px;
    }
    .footer-mobile p {
        text-align: center !important;
    }
    .contact-footer {
        display: flex !important;
        justify-content: center;
        margin-right: 0.5rem !important;
        margin-left: 0.5rem !important;
        margin-bottom: 16px;
    }
    .footer-mobile a {
        text-align: center;
    }
    .footer-mobile h4 {
        text-align: center;
    }
    .social-media-footer h4 {
        display: flex;
        margin-bottom: 0px !important;
    }
    .social-media-footer i {
        margin-right: 16px !important;
        margin-left: 16px !important;
    }
    .social-media-footer-margin {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 32px;
    }
    .social-media-footer-margin a {
        margin-bottom: 16px;
    }
    .extra-margin-mobile {
        margin-top: 16px;
    }
    .work-card-padding-mobile h2 {
        font-size: 16px;
    }
    .work-card-padding-mobile h1 {
        font-size: 32px;
    }
    .link-footer-justify {
        justify-content: center;
    }
    .copyrights-misc {
        margin-top: 0px;
    }
    .social-media {
        margin-left: 1rem !important;
    }
    .contact-footer-mobile {
        display: flex;
        justify-content: center;
    }
    .notable-image {
        object-position: 0px 0px;
    }
    #quotes-section .lead {
        font-size: 14px !important;
    }
    #quotes-section .blockquote-footer {
        font-size: 10px !important;
    }
}

@media (max-width: 359.98px) {
    .work-card-container {
        height: 150px;
    }
    .work-card-padding-mobile {
        padding: 16px !important;
    }
    .work-card-padding-mobile h1 {
        font-size: 28px;
    }
}