html {
    scroll-behavior: smooth;
}

.logo-space {
    padding: 30px;
}

.logo {
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.about-image {
    width: 300px;
}

.image-link-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.image-link {
    text-decoration: none;
    color: #7E7E7E;
    transition: 0.3s;
}

.image-link:hover {
    color: #464646;
}

.image-link p {
    font-size: 14px;
}

.image-owl-align {
    margin-top: 100px;
    margin-left: 50px;
}

.image-tiger-align {
    margin-top: -100px;
    margin-right: 50px;
}