@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: Roboto, sans-serif;
}

.social-link.nav-link {
    color: #000000;
}

.social-link.nav-link:hover {
    color: #424242;
}

.logo-space {
    padding: 20px;
}

.logo {
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.about-image {
    width: 300px;
}

.image-link-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.image-link {
    text-decoration: none;
    color: #7E7E7E;
    transition: 0.3s;
    display: inline-block;
}

.image-link:hover {
    color: #464646;
}

.image-link p {
    font-size: 14px;
}

.image-owl-align {
    margin-top: 100px;
    margin-left: 50px;
}

.image-tiger-align {
    margin-top: -100px;
    margin-right: 50px;
}

.work-margin {
    margin-top: 100px;
}

.tns-item {
    margin-top: 50px;
    margin-bottom: 100px;
}

.work-card-size {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.footer-background {
    color: #FFFFFF;
}